streamlit==1.29.0
numpy==1.26.4
pandas==2.1.4
matplotlib==3.8.0
gymnasium==0.29.1
Pillow==10.1.0
imageio==2.31.5
imageio-ffmpeg==0.4.9
seaborn==0.13.0
plotly==5.18.0
scipy==1.11.4
opencv-python-headless==4.8.1.78
